# 가상환경 (커널)
KIMDH/
venv/
.conda/

# 파이썬 캐시 및 컴파일 파일
__pycache__/
*.py[cod]
*$py.class

# 데이터 및 대용량 파일 (필요시 추가)
*.csv
*.xlsx
*.zip

# IDE 및 OS 설정
.vscode/
.idea/
.DS_Store
Thumbs.db

# 주피터 노트북 체크포인트
.ipynb_checkpoints/